@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root 
{
--Blue-100: hsl(225, 100%, 94%);
--Blue-700: hsl(245, 75%, 52%);



--Blue-50: hsl(225, 100%, 98%);
--Gray-600: hsl(224, 23%, 55%);
--Blue-950: hsl(223, 47%, 23%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
background-image: url(./images/pattern-background-desktop.svg) ;
background-repeat: no-repeat;
background-size: cover;
background-color: var(--Blue-100);
font-family: "Red Hat Display", sans-serif;
font-size: 16px;
}
.card{
    width: 450px;
    background-color: white;
    color: var(--Gray-600);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
}
.title {
    color:var(--Blue-950) ;
    font-size: 32px;
    font-weight: 900;
}
.hero-image {
    width :100% ;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;

}
.container > * {
    margin: 13px 0;
}
.order-description {
    line-height: 25px;
   
}
.plan-container {
 font-size: 16px;
    background-color: var(--Blue-50);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plan-container a {
    color: var(--Blue-700);
    font-size: 13px;
    font-weight: 700;
}
.plan-container a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.plan-container strong {
    color: var(--Blue-950) ;
}
.plan-description{
    line-height: 20px;
    margin-right: 75px;
}
.button{
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 12px;
    cursor: pointer;
}

.proceed-button {
    background-color: var(--Blue-700) ;
    padding: 1rem 0;
    color: white ;
    box-shadow: 0 20px 30px -8px rgb (197 189 245);
    /* width: 100%; */
    /* border: none;
    font-weight: 700;
    cursor : pointer; */
    /* font-size: 0.9 rem;
    border-radius: 12px; */
}
.proceed-button:hover {
    opacity: 0.8;
}
.cancel-button {
background-color: white;
color: var(--Blue-50);
/* border: none; */
margin-top: 22px;
/* width: 100%; */
/* font-size: 0.9rem;
border-radius: 12px;
cursor: pointer ; */
}
.cancel-button:hover{
    color: black;
}